# app requirements
Flask==1.0
Flask-SQLAlchemy==2.1
Flask-Bcrypt==0.7.1
Flask-WTF==0.11

# deployment requirements
pip-tools==1.6.5
Fabric==1.11.1
gunicorn==19.6.0

# testing requirements
nose==1.3.7
coverage==4.1
freezegun==0.3.7
